<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <% include common/head.ejs %>
</head>
<body>
    <header>
        <% include common/navbar.ejs %>
    </header>
    <main>

    </main>
    <% include common/footer.ejs %>
</body>
</html>