body {
  padding: 0x;
  margin: 0;
  font: 14px "Arvo", Helvetica, Arial, sans-serif;
  background: url('../images/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a {
  color: #00B7FF;
}

/* INDEX LOGIN */
.login{
  height: 55vh;
}

.loggedCard {
  list-style: none;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.loggedCard h4{
  color: gold;
}


/* FORMS */
.forms{
  padding: 20px;
  border: 1px solid #30303087;
  border-radius: 5px;
  background-color: #343a40;
  box-shadow: 4px 9px 12px 0px #303030e0;
  color: white;
  font-weight: 550;
}

/* USER FORM */
.message {
  border: 1px solid #f3db4887;
  border-radius: 3px;
  background-color: #fbfbd5;
  box-shadow: 4px 9px 12px 0px #303030e0;
  color: red;
  font-weight: 550;
  padding-top: 9px;
  padding-bottom: 4px;
  margin-bottom: -5px;
  animation-name: scrollingUp;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-play-state: running;
}

@keyframes scrollingUp {
  0% { transform: translateY(40px);}
  50% { transform: translateY(15px);}
  100% { transform: translateY(0px);}
}


/* TABLE RENT */

.table {
  box-shadow: 4px 9px 12px 0px #303030e0;
}

.table thead th{
  border-bottom: 0px;
}

.table thead th a {
  color:white;
  text-decoration: none;
}

.table thead th a:hover {
  color:#adb5bd;
}

.table tbody tr {
  background-color: #fdfdfdf2;
}

.borrar i{
  color: red;
}

.editar i{
  color: blue;
}



/* CARDS */
.row.cards{
  padding-bottom: 20px;


    border: 1px solid #30303087;
    border-radius: 5px;
    background-color: #343a40;
    box-shadow: 4px 9px 12px 0px #303030e0;
    color: white;
    font-weight: 550;
  
}

.card {
    border: 1px solid #cdcccc87;
    border-radius: 5px;
    background-color: #eaeaeaf0;
    box-shadow: 4px 9px 12px 0px #303030e0;
    font-weight: 550;
}

.card-title {
  font-size: 30px;
  font-weight: bold;
}

.description {
  text-align: justify;
}

.date {
  font-size: 17px;
  font-weight: 600;
}

.gender {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; 
  line-height: 40px; 
  
  
}
 .footer a {
  text-decoration: none;
  color: #808080;
 }

 .footer a:hover {
  text-decoration: none;
  color: #b8b8b8;
 }

 /* ERROR */
 .error{
  border: 1px solid #cdcccc87;
  border-radius: 5px;
  background-color: #eaeaeaf0;
  box-shadow: 4px 9px 12px 0px #303030e0;
  font-weight: 550;
 }